.menu-container{
    background-color:  #c06764;
    color: black;
    text-align: center;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 4;
}
.icons{
    width: 20px;
    height: 20px;
    margin: 5px;
}

@media(min-width:700px){
    .menu-links{
        justify-content: flex-end;
    }
}

