.menu-container{
    background-color: #7d301d;
    color: black;
    text-align: center;
}

@media(min-width:700px){
    .menu-links{
        justify-content: flex-end;
    }
}

.icons{
    width: 30px;
    height: 30px;
    margin: 10px;
}